.img-carrousel{
    height: 40vh;
    object-fit: cover;
}
.logo{
    width: 50px;
}
.footer{
    color: white;
    background-color: rgb(113, 116, 116);
    height: 10vh;
    
}

.container{
    padding: 2rem;
}