*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: green ;
    color: white;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   
    font-family: 'Roboto', sans-serif;
}

.header img{
    width: 150px;
}

.header ul{
    display: flex;
    list-style: none;
}

.header li{
    margin: 0.2rem;
    
}

.header, .footer{
    padding: 2rem;
}

.main{
    display: grid;
    background-color:crimson;
    color: white;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem;
    grid-gap: 1rem;
    font-family: 'Roboto', sans-serif;
}


.main-der{
    padding: 1rem;
}
.main-der img{
    width: 100%;

}
.main-izq{
    padding: 1rem;
}
.main-izq img{
    width: 100%;
}

.footer {
    background-color: green;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.parent{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/*--MEDIA QUERIES--*/
@media screen and (max-width: 425px) {
    .main{
        grid-template-columns: auto;
    }
    
}